.DS_Store
config.ini
data/*
!data/workspace_base.json.sample
!data/workspace_parser_test.json.sample
__pycache__/
.vscode

#Keep config.ini.sample as modifiable.  Users will likely create config.ini as a main file or config.ini.set1 and config.ini.set2 to quickly toggle between configs.
!config.ini.sample
config.ini*
