[DEFAULT]
; KFOLD, BLIND or TEST
mode = kfold
workspace_id = <workspace_id or workspace JSON>
; Test input file for blind and standard test
test_input_file = ./data/test.csv
; Previous blind test out
previous_blind_out = ./data/prev-test-out.csv
; Test output path for blind and test
test_output_path = ./data/test-out.csv
; All temporary files will be stored here
temporary_file_directory = ./data
; Figure path for kfold and blind
out_figure_path= ./data/figure.png
fold_num = 5
; yes/no
keep_workspace_after_test = no
; POPULATION, EQUAL or WEIGHT_FILE
weight_mode = population
; Test request rate
max_test_rate = 100
; Threshold of confidence
conf_thres = 0.2
; Partial Credit Table
; partial_credit_table = ./data/partial-credit-table.csv


[ASSISTANT CREDENTIALS]
; If your WA environment provides username and password, configure them and leave iam_apikey empty
; If your WA environment provides iam_apikey, set the username value as: apikey and password value as: <the value of your apikey>
; Update the url for the WA API to match your specific WA region
username =
password =
iam_apikey =
#url = https://gateway.watsonplatform.net/assistant/api
